@tailwind base;

@layer base {
    html {
        scrollbar-color: unset;
    }

    body {
        @apply px-0;
    }

    p {
        @apply mb-4;
        color: var(--vscode-foreground);
    }

    a {
        @apply no-underline;
        color: var(--vscode-textLink-foreground);
    }

    a:hover {
        @apply underline;
        color: var(--vscode-textLink-activeForeground);
    }

    ul,
    ol {
        @apply my-2 pl-6;
    }

    li {
        @apply my-1;
    }

    button {
        @apply m-0 border-0 outline-none;
        font-family: inherit;
        font-size: inherit;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    textarea {
        @apply block w-full min-h-[28px] pt-1 pb-0.5 px-1.5 rounded-sm;
        background-color: var(--vscode-input-background);
        color: var(--vscode-input-foreground);
        box-shadow: inset 0 0 0 1px var(--vscode-panel-border);
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input::placeholder,
    textarea::placeholder {
        color: var(--vscode-input-placeholderForeground);
    }

    input:focus,
    textarea:focus,
    select:focus {
        opacity: 1;
        outline-color: var(--vscode-focusBorder);
        outline-offset: -1px;
        outline-style: solid;
        outline-width: 1px;
    }

    input:disabled,
    textarea:disabled,
    select:disabled {
        @apply opacity-50 cursor-not-allowed;
        background-color: var(--vscode-input-background);
    }

    ::selection {
        background-color: var(--vscode-menubar-selectionBackground);
        color: var(--vscode-menubar-selectionForeground);
    }

    pre,
    code {
        @apply font-mono;
        background-color: var(--vscode-textCodeBlock-background);
        color: var(--vscode-textPreformat-foreground);
    }

    table {
        @apply w-full border-collapse my-4;
    }

    th,
    td {
        @apply px-4 py-2;
        border: 1px solid var(--vscode-widget-border);
    }

    th {
        @apply font-semibold;
        background-color: var(--vscode-editor-background);
    }

    blockquote {
        @apply pl-4 my-4;
        border-left: 4px solid var(--vscode-textBlockQuote-border);
        background-color: var(--vscode-textBlockQuote-background);
    }

    hr {
        @apply my-4;
        border: none;
        border-top: 1px solid var(--vscode-panel-border);
    }

    ::-moz-selection {
        background: var(--vscode-editor-selectionBackground);
    }

    ::selection {
        background: var(--vscode-editor-selectionBackground);
    }

    ::-webkit-scrollbar {
        width: 7.5px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--vscode-scrollbarSlider-background);
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--vscode-scrollbarSlider-hoverBackground);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: var(--vscode-scrollbarSlider-activeBackground);
    }
}

@tailwind components;

@layer components {

    /* Frame */
    .frame {
        @apply flex items-center min-w-32 h-8 py-1.5 px-2.5 border-[var(--vscode-panel-border)] border-[1px] rounded-sm select-none transition-all duration-100;
    }

    /* Button */
    .btn {
        @apply inline-flex items-center justify-center w-full min-w-16 h-8 py-1.5 px-1.5 rounded-sm select-none transition-all duration-100 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed;
        line-height: normal;
    }

    .btn-primary {
        @apply btn bg-[var(--vscode-button-background)] text-[var(--vscode-button-foreground)] hover:bg-[var(--vscode-button-hoverBackground)] disabled:hover:bg-[var(--vscode-button-background)];
    }

    .btn-secondary {
        @apply btn bg-[var(--vscode-button-secondaryBackground)] text-[var(--vscode-button-secondaryForeground)] hover:bg-[var(--vscode-button-secondaryHoverBackground)] disabled:hover:bg-[var(--vscode-button-secondaryBackground)];
    }

    .btn-outline {
        @apply btn bg-[var(--vscode-panel-background)] border-[var(--vscode-panel-border)] border-[1px] hover:border-[var(--vscode-button-background)] disabled:hover:bg-[var(--vscode-button-secondaryBackground)];
    }

    .btn-icon {
        @apply btn min-w-0 w-6 h-6 px-0 bg-transparent text-[var(--vscode-foreground)] hover:bg-[var(--vscode-toolbar-hoverBackground)];
    }

    .btn-sm {
        @apply h-[22px] min-w-[60px] px-2 text-xs;
    }

    .btn-with-icon {
        @apply space-x-2;
    }

    .btn-loading {
        @apply relative text-transparent;
    }

    .btn-loading::after {
        @apply content-[''] absolute inset-0 w-4 h-4 m-auto border-2 border-current border-r-transparent rounded-full animate-spin;
    }

    .btn-group {
        @apply inline-flex;
    }

    .btn-group .btn:not(:first-child) {
        @apply rounded-l-none;
    }

    .btn-group .btn:not(:last-child) {
        @apply rounded-r-none border-r border-r-[var(--vscode-button-separator)];
    }

    /* Input Expandable */
    .input-expandable {
        @apply w-full pr-16 min-h-[28px] max-h-[300px] resize-none overflow-x-hidden pt-1 pb-0.5 px-1.5 rounded-sm text-vscode-input-foreground focus:opacity-100 focus:ring-1 focus:ring-offset-[-1px] focus:ring-[var(--vscode-focusBorder)] disabled:opacity-50 disabled:cursor-not-allowed;
    }

    /* Radio Button */
    .radio-group {
        @apply flex min-h-[30px] rounded-sm overflow-hidden border border-[var(--vscode-panel-border)];
    }

    .radio-group-button {
        @apply flex-1 px-1.5 rounded-sm bg-[var(--vscode-panel-background)] text-center duration-100 cursor-pointer select-none;
        @apply border-r border-[var(--vscode-panel-border)] last:border-r-0;
        color: var(--vscode-foreground);
    }

    .radio-group-button[aria-checked="true"] {
        color: var(--vscode-button-foreground);
        background-color: var(--vscode-button-background);
    }

    .radio-group-button:hover:not([aria-checked="true"]) {
        background-color: var(--vscode-menu-background);
    }

    /* Asset Viewer */
    .asset-viewer {
        @apply block w-full p-1 min-h-[28px] rounded-sm;
        background-color: var(--vscode-input-background);
        color: var(--vscode-input-foreground);
        box-shadow: inset 0 0 0 1px var(--vscode-input-border);
    }

    .asset-viewer img {
        @apply rounded-sm;
    }

    /* Editor */
    .editor-textarea {
        @apply w-full h-full resize-none outline-none bg-[var(--vscode-editor-background)] text-[var(--vscode-editor-foreground)] rounded-none;
        font-family: var(--vscode-editor-font-family);
        font-weight: var(--vscode-editor-font-weight);
        font-size: var(--vscode-editor-font-size);
        box-shadow: none;
    }

    .editor-textarea:focus {
        @apply outline-0;
    }

    .editor-textarea::placeholder {
        @apply text-[var(--vscode-editor-foreground)] opacity-50;
    }

    .editor-divider {
        @apply w-[1px] mx-4 bg-[var(--vscode-editor-lineHighlightBorder)];
    }

    /* Code Block */
    .code-block {
        @apply block w-full min-h-[28px] pt-1 pb-0.5 pr-8 rounded-sm font-mono;
        background-color: var(--vscode-input-background);
        color: var(--vscode-input-foreground);
        box-shadow: inset 0 0 0 1px var(--vscode-panel-border);
    }

    .code-block pre {
        background-color: transparent;
        white-space: pre-wrap;
        word-break: break-all;
    }
}

@tailwind utilities;