@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 97%;
    --foreground: 240 10% 3.9%;
    
    --primary: 202 89% 54%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    
    --radius: 0.75rem;
  }

  html {
    @apply scroll-smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body {
    @apply bg-porcelain text-slate-900 antialiased selection:bg-primary/20 selection:text-primary-900;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  }
  
  /* Hides scrollbar but allows scrolling */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}